body {
      font-family: 'Gilda Display', serif;
      background: url('https://www.rise.eco/assets/img/backgrounds/bg_concept_3.svg') #f2f3f7 0% 40% no-repeat, url('https://www.rise.eco/assets/img/backgrounds/bg_concept_2.svg') #f2f3f7 100% 60% no-repeat;;
background: url('https://www.rise.eco/assets/img/backgrounds/bg_concept_3.svg') 0% 0% no-repeat,url('https://www.rise.eco/assets/img/backgrounds/bg_concept_2.svg') 100% 90% no-repeat;
 background-color: #f2f3f7;
    /*  background: url(../image/bg_00.png) #29355c center center repeat;
    background-size: contain;*/
      /*background-color: #f2f3f7;
    background: url('https://www.rise.eco/assets/img/backgrounds/bg_concept_1.svg') 25% -50px no-repeat,url('https://www.rise.eco/assets/img/backgrounds/bg_concept_3.svg') 0% 8% no-repeat,url('https://www.rise.eco/assets/img/backgrounds/bg_concept_2.svg') 60% 30% no-repeat;
  */}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: gray;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.jumbotron{
    background: url("../image/f.jpg") no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}
/*header#mast{
  min-height: 450px;
  max-width: 100%;
  padding-top:1rem;
  padding-bottom:calc(10rem - 56px);
background-image:url('../image/f.jpg');
background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url('../image/f.jpg');
background-position:center center;
background-size:cover;
background-attachment: fixed;
position: relative;
opacity:1;
  /*background: url(../image/bg_00.png) #29355c center center repeat;
background-size: contain;*//*
}*/
.text-uppercase{
   color:#cbc9c9;
   /*color:#04fafb;*/
   font-size:80px;
}

.follow{
   color:white;
   font-size: 20px;
}
.ftrcpr {
float:right;
  color: white;
  margin-top: 30px;
  font-size: 20px;
}
section#footer{
  background: url('https://www.rise.eco/assets/img/home/Background-MainPage_Artboard%205.svg') 29% 2px/cover no-repeat;
    background-color:  #f2f3f7;
}
.ftrlog {
  text-align: left;
  background-color:  white/*#f2f3f7*/;
  background: url('https://www.rise.eco/assets/img/home/Background-MainPage_Artboard%205.svg') 29% 2px/cover no-repeat;
  font-size: 20px;
  padding: 0px;}

  @media screen and (max-width: 600px) {
  .ftrlog {
   text-align: center;
 }
 .follow {
   color: white;
   text-align: center;
 }
 .ftrcpr {
    text-align:center;
    margin-top: 0px;
  }
}
