<!DOCTYPE html>
<html>
    <head>
        <title>Startup Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="style.css">
      <style media="screen">
          body{
            background-color:white;
          }
      </style>
</head>
<body>

  <nav class="navbar navbar-inverse" role="navigation" style="background-color:rgba(0,0,0,0.5);border-color:white;color:black;">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="navbar-brand">
        <a href="index.html"><img src="0.png" class="img-responsive" style="padding: 3px;width:80px; height:70px;" alt="UNO"></a>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>


      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="li"><a class="btn btn-primary" style="color:white;font-size:16px;background-color:#337AB7;" href="/getfaqs">FAQs</a></li>

          <li class="lis3"><a style="color:black;" href="/getvideos">Videos</a></li>
          <li class="lis4"><a style="color:black;" href="/getsessions">Sessions</a></li>
          <li class="lis"><a style="color:black;" href="/getevents">Events</a></li>
        </ul>
      </div>
    </div>
  </nav><!--
<span style="font-size:20px;cursor:pointer;color:white;" onclick="openNav()">&#9776; MENU</span>
<span style="float:right;font-size:20px;color:white;"><strong>HCX&nbsp;</strong></span>
</div>-->


<div class="jumbotron" style="margin-bottom:0px;margin-top:0px;min-height:500px;padding:0px;">
<h1 style="padding:50px;text-align:center;color:black;padding-top:100px;padding-left:200px;"><center>&nbsp;&nbsp;&nbsp;&nbsp;FREQUENTLY ASKED QUESTIONS</center></h1>
<center><img src="image/faq1.jpeg" class="img-responsive" style="height:350px; padding-left:200px;" alt="responsive"></center>
</div>
  <!--
<header id="mast" style="height:250px;">
      <div class="container-fluid">
        <span style="font-size:20px;cursor:pointer;color:white;" onclick="openNav()">&#9776; MENU</span>
        <span style="float:right;font-size:20px;color:white;"><strong>HCX&nbsp;</strong></span>
        <div class="row">
          <center>
            <h1 class="text-uppercase" style="color:white;">
              <br>
              Frequently Asked Questions
            </h1>
          </center>
        </div>
      </div>
    </header>-->


<!-- Bootstrap FAQ - START -->
<div class="container">
  <div class="col-lg-offset-1 col-lg-10 col-md-10 col-sm-10">

    <br />
    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader"style="color:#283c64;">General questions</div>
        <div class="panel panel-default" style="min-height: 30px;margin-top: 0px;padding: 24px 5px 24px 24px;">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><h4>Steps for establishing the right Business Model</h4></a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
              <center>
              <img src="image/b1.jpeg" class="img-responsive" alt="res" width="400px"height="400px"></center>
              <br><br>Defining the right business model requires the same diligence as designing the right product, but the approach and skills required are different. That’s why investors acknowledge that two co-founders are often better than one --
              with one focusing on the technical solution, and the other focusing on defining and building the business model. These two jobs need to be done in parallel.
              <br>
              <center>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Where should I incorporate my business?</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                  <center>
                    <img src="image/b2.jpeg" class="img-responsive" alt="res" width="400px"height="400px"></center>
  <br>The standard answer to this is Delaware because of its well developed corporate law.<br><br>
 My answer is that it should be the state where the business is located, as this will save you some fees and complexities. You can always reincorporate later in Delaware.<br><br>

                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">How much should I capitalize my business with at the beginning?</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                  <center>
                    <img src="image/123.jpg" class="img-responsive" alt="res" width="400px"height="400px"></center>
                    <br>As much as you can reasonably afford, and in an amount to at least carry you for 6-9 months with no income. What you will find is that it always takes you longer to get revenues, and that you will experience more expenses than you anticipated.<br><br>

                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How likely will it be that I can get venture capital financing? </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                  <br>
Extremely unlikely. Get a product done, gain some traction, get a good management team, and then consider getting venture financing.<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Should I require prospective angel or venture capital investors to sign a Non-Disclosure<br> Agreement (NDA) so they don’t steal my idea?
</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
<br>  No, don’t waste your time. It will be counterproductive and slow down your fundraising. And many investors will refuse anyway. It’s hard enough to get a meeting with an investor -- don’t put another roadblock in the way. For the most part, it’s not the idea that is important, it’s the implementation of the idea and the entrepreneurs behind it.<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">How big should a stock option pool for employees be?</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body"><center>
                  <img src="image/stock.jpeg" class="img-responsive" alt="res" width="400px"height="400px"></center>
                  <br>
15-20%. Standard vesting for options is 4 years, with a one year “cliff vesting” and monthly vesting after that. “Cliff vesting” in this context means the employee must be employed by the company for a minimum of one year before the employee earns any of the options.<br>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">How can I get a venture capitalist to pay attention to me?</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                  Any of the following:

                  <ul><li>Get a ton of traction in the marketplace</li>
                  <li>Have meaningful growing revenues</li>
                  <li>Have a world-class management team</li>
                  <li>Have truly innovative technology with a big market opportunity</li>
                  <li>Get a personal introduction to one of the VC firm partners from a respected colleague</li>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">How can I come up with a great name for my business? </a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
              This is difficult. First brainstorm with a bunch of different names. Then do a Google search to see what is already taken, and that will eliminate 95% of your choices.<br><br>
              Make it easy to spell. Make it interesting. Don’t pick a nonsensical name where people won’t have a clue as to what you do (with all due consideration to names like “Google,” “Yahoo,” and the like). <br><br>
              Do a trademark/tradename search on the name. Then make sure you can get the domain name. Consider hiring a name consultant like Alexandra Watkins at <br><br>
                </div>
            </div>
        </div>
    </div>

      </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }
    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #2ba2ff;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #2ba2ff;;
    }.panel-default>.panel-heading{
      background-color: white;
      border-color: white;
    }
    .panel-title>a{
      color:#283c64;
    }
    .panel-group .panel+.panel{
      min-height:30px;
      margin-top: 0px;
      padding: 24px 5px 24px 24px;
    }
    .collapsed,.collapsed:hover{
      text-decoration: none;
      font-size: 19px;
    }
    .panel-body{
      font-size: 15px;
      text-align: justify;
    }
</style>



<script>
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
}
function closeNav() {
document.getElementById("mySidenav").style.width = "0";
}
</script>

</body>
</html>