
<html>
  <head>
    <meta charset="utf-8">
    <title>Codeutsava</title>
  </head>
  <body>
     <form method='POST' action='/startupregister'>
        <!-- <input type:'text' name:'Username'> -->
         Name<input type='"text' name='name'><br>
        HeadName<input type="text" name='headName'><br>
        Email<input type="text" name="email"><br>
        Contact Number<input type="text" name="contactNumber"><br>
        Address<input type="text" name="address"><br>
        Affiliated to<input type="text" name="affil"><br>
        Password<input type="password" name="password"><br>
        ConfirmPassword<input type="password"><br>
        <button type='submit'>submit</button>
     </form>
  </body>
</html>
