
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Videos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="css/style.css">
 <style>
      body{
        background-color:#232331;
      }
   </style>
</head>
<body>
  <nav class="navbar navbar-inverse" role="navigation" style="background-color:rgba(0,0,0,0.2);border-color:transparent;color:white;">
<div class="container-fluid">
  <div class="navbar-header">
    <div class="navbar-brand">
    <a href="index.html"><img src="image/0.png" class="img-responsive" style="width:80px; height:70px;" alt="responsive"></a>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>


  <div class="collapse navbar-collapse" id="mynavbar">
    <ul class="nav navbar-nav navbar-right">
      <li class="li"><a class="btn btn-primary" style="color:black;font-size:16px;background-color:white;" href="#">Videos</a></li>

      <li class="lis3"><a style="color:white;" href="http://sto.capitalexchange.tech">FAQs</a></li>
      <li class="lis4"><a style="color:white;" href="/getsessions">Sessions</a></li>
      <li class="lis"><a style="color:white;" href="/getevents">Events</a></li>
    </ul>
  </div>
</div>
</nav>
<br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-4" style="height:500px;">
        <br><br>
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/QoqohmccTSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4" style="height:200px;background-image:black;">
            <br><br>
            <h3 style="color:white;">You may Like...</h3><br><hr><br>
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/b-2vjKv-7IE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4 style="color:white;">Seed Funding</h4>

              <br><br>
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7mt1TSHFb8o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h4 style="color:white;">Business Ideas</h4>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-4">
                <br><br>
                <h2 style="color:white;">50 Entrepreneurs share priceless advice</h2>
                <p style="color:white;"><span class="glyphicon glyphicon-eye-open">&nbsp;2,021,934 views</span></p>
                <p style="color:white;"><span class="glyphicon glyphicon-cloud">&nbsp;Blockself</span></p>
                <p style="color:white;"><span class="glyphicon glyphicon-calendar">&nbsp;Pubished on Dec 7,2014</span></p>
                </div>
                </div>
            </div>

</section>
<br><br>
<div class="morevideos" style="color:white;border:3px solid transparent;background-color:rgba(0,0,0,0.2);">
  <Center><h2>SOME MORE VIDEOS</h2></center>
    </div>
    <section>
      <div class="container">
        <div class="row">
          <br><br>
          <div class="col-lg-3 col-md-3 col-sm-6">

                <iframe width="100%" height="40%" src="https://www.youtube.com/embed/piZS-I9sjiU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                <h3 style="color:white;">Starting a Business</h3>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                      <iframe width="100%" height="40%" src="https://www.youtube.com/embed/COwAoLtmpTM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h3 style="color:white;">Pitching the Ideas</h3>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-6">
                        <iframe width="100%" height="40%" src="https://www.youtube.com/embed/wq-gba5nMrc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h3 style="color:white;">Success Tips</h3>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                      <iframe width="100%" height="40%" src="https://www.youtube.com/embed/srn5jgr9TZo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <h3 style="color:white;">Communication Skills</h3>
                    </div>
                    </div>
                    </div>
    </section>
    <br><br>
    <section style="background-color:#E3E3F4;">
      <div class="container">
        <br>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 style="color:black"><center>Recommended Videos</center></h3>
            <hr style="border-top:1px solid grey; width:80%;">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
              <h3 style="color:black;"><center>About Us</center></h3>
              <hr style="border-top:1px solid grey; width:80%">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 style="color:black"><center>Most Viewed</center></h3>
                <hr style="border-top:1px solid grey; width:80%;">
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <ul class="marker" style="list-style-type:none;padding:5px;float:left">
                      <li><a href="https://bit.ly/2SC6s4D" target="#">Stop Memorising</a></li>
                      <li><a href="https://bit.ly/2IieRW7" target="#">Successful Entrepreneurs</a></li>
                      <li><a href="https://bit.ly/2c7OSPr" target="#">Buffet's Advice</a></li>
                      <li><a href="https://bit.ly/2GFH9HG" target="#">What is B-Plan?</a></li>
                      <li><a href="https://bit.ly/2IgLeo3" target="#">Network Marketing Strategy.</a></li>
                      <li><a href="https://bit.ly/2EdrnSu" target="#">Seeking Investment?</a></li>
                      </ul>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-6">
                    <h3 style="color:grey;">We connect start-up with mentors and Investors</h3>
                    <p style="color:grey">Startups come flourish and grow under the experts of particular domain.</p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                      <iframe width="100%" height="40%" src="https://www.youtube.com/embed/G0dzLanYW1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      <p style="color:grey">Learn how to make perfect B-Plan and increase your chance of luring investors.</p>
                    </div>
                    </div>
      </section>
</body>
</html>