<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mentor Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"  >
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="css/custom.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation" style="background-color:#337AB7;border-color:white;color:white;">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
          <a href="index.html"><img src="image/logo2.png" class="img-responsive" style="padding: 3px;width:80px; height:70px;" alt="UNO"></a>
          </div>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>


        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="nav navbar-nav navbar-right">
            <li class="li"><a class="btn btn-primary" href="faq.html" style="color:black;font-size:16px;background-color:white;" href="#">Admin</a></li>
            <li class="lis3"><a style="color:white;" href="http://sto.capitalexchange.tech">FAQs</a></li>
            <li class="lis3"><a style="color:white;" href="http://sto.capitalexchange.tech">Videos</a></li>
            <li class="lis4"><a style="color:white;" href="http://stmoritz.capitalexchange.tech">Sessions</a></li>
            <li class="lis"><a style="color:white;" href="http://roadshow.capitalexchange.tech">Events</a></li>

          </ul>
        </div>
      </div>
    </nav>
    <br><br>

<section id="funds_form">
      <div class="container">
          <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-primary">
            <div class="panel-heading"><strong>Mentor Registration Form</strong></div>
            <div class="panel-body">

              <form method="post" action="/mentorregister">
                <div class="form-group">
                  <label for="text">Name:</label>
                  <input type="text" class="form-control" required="true" name="name" id="sto">
                </div>
                <div class="form-group">
                  <label for="reg">Qualification:</label>
                  <input type="text" class="form-control" required="true" name="designation" id="reg">
                </div>
                  <div class="form-group">
                  <label for="text">Email</label>
                  <input type="text" class="form-control" required="true" name="email" id="sto">
                </div>
                <div class="form-group">
                  <label for="text">Field of Interest:</label>
                  <br>
                  <select name="interestfield" class="form-control">
                         <option value=""></option>
                         <option value="Agriculture">Agriculture</option>
                         <option value="Health Care">Health Care</option>
                         <option value="Finance">Finance</option>
                         <option value="Agriculture">Agriculture</option>
                         <option value="IoT">IoT</option>
                         <option value="Machine Learning">Machine Learning</option>
                         <option value="AR/VR">AR/VR</option>
                   </select>
                </div>
                <div class="form-group">
                  <label for="reg">Contact no:</label>
                  <input type="number" class="form-control" required="true" name="contactNumber" id="reg">
                </div>
                <div class="form-group">
                  <label for="text">Password:</label>
                  <input type="password" class="form-control" required="true" name="password" id="sto">
                </div>
                <div class="form-group">
                  <label for="reg">Confirm Password:</label>
                  <input type="password" class="form-control" id="reg">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            </div>

          </div>
        </div>

      </div>
    </section>
<!--
         <form method="POST" action="#" autocomplete="on">
           <center>
           <caption><h2>Mentor Registration Form</h2></caption><br><br>
           <label>Name:</label><br>
           <input type="text" name="name" placeholder="Name of Mentor" required="true"><br><br>
           <label>Qualification:</label><br>
           <input type="text" name="qualification" placeholder="Qualification" required="true"><br><br>
           <label>Field of Interest:</label><br>
           <select>
                  <option value="Field of Interest">Field of Interest</option>
                  <option value="Agriculture">Agriculture</option>
                  <option value="Health Care">Health Care</option>
                  <option value="Finance">Finance</option>
                  <option value="Agriculture">Agriculture</option>
                  <option value="IoT">IoT</option>
                  <option value="Machine Learning">Machine Learning</option>
                  <option value="AR/VR">AR/VR</option>
            </select><br><br>
            <label>Contact No:</label><br>
            <input type="number" name="contactNo" placeholder="Contact No" required="true"><br><br>
            <label>Password:</label><br>
            <input type="password" name="password" placeholder="password" required="true"><br><br>
            <label>Confirm Password:</label><br>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" required="true"><br><br>
            <label>Unique Identification:</label><br>
            <input type="file" name="uniqueIdentification"><br><br>
            <button type="button" value="submit">Submit</button>&nbsp;
            <input type="reset">
            </center>
         </form>-->
         </body>
         </html>