.navbar-nav {
  width: 80%;

height: 70px;
}

.navbar-nav > li {
  float: right;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
  }
  .navbar{
    margin:0px;
  }
  .navbar-brand{
    margin-top: 0px;
    padding-top: 0px;
  }
  .text > a {
    text-decoration: none;
    color: #ffff00;
  }

.navbar-nav>li>a:hover{
  text-decoration: none;
  color:black!important;
}